<style>
    .form{
        text-align:center;
        margin:5% auto auto auto;
        padding-top:30px;
        width:20%;
        height:50%;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        border-radius:30px;
    }
    input{
        width:80%;
        height:10%;
        border-radius:15px;
        border:none;
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        margin-bottom:20px;
    }
    .submit{
        color:#fff;
        border:none;
        box-shadow:none;
        background-color:#22bd4e;
        cursor:hand;
    }
    
</style>
<html>
<div class="form">
<form action="/signup" method="post" class="input-group inputs">
    <input type="text" class="form-control" name="name" placeholder="名前"><br>
    <input type="password" class="form-control" name="password" placeholder="パスワード"><br>
    <input type="password" class="form-control" name="password_confirmation" placeholder="パスワードの確認"><br>
    <input type="submit" class="submit" value="新規登録">
</form>
</div>
</html>