<form action="/signin" method="post">
    <input type="text" name="mail" placeholder="Eメール">
    <input type="password" name="password" placeholder="パスワード">
    <input type="submit" value="ログイン">
</form>